@import "tailwindcss";

@theme {
  --color-tata-blue: #005BBA;
  --color-tata-dark: #002D5E;
  --color-tata-light: #E6F0FA;
  --color-tata-accent: #009FE3;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background-color: #F8FAFC;
  color: #1a202c;
  font-family: Arial, Helvetica, sans-serif;
}
